@using App.UI.Mvc5.Areas.Management.Models

@model UserViewModel

<!-- Meta -->

@{
	var isAdding = Model.Id <= 0;
}

<!-- Page Contents -->

@if (!isAdding)
{
	<div class="form-group row">
		@Html.LabelFor(model => model.Id, new { @class = "col-sm-2 col-form-label" })
		<div class="col-sm-10">
			@Html.TextBoxFor(model => model.Id, new { @class = "form-control-plaintext font-weight-bold" })
		</div>
	</div>

	<div class="form-group row">
		@Html.LabelFor(model => model.UserName, new { @class = "col-sm-2 col-form-label" })
		<div class="col-sm-10">
			@Html.TextBoxFor(model => model.UserName, new { @class = "form-control-plaintext font-weight-bold" })
		</div>
	</div>
}

@if (isAdding)
{
	<div class="form-group">
		@Html.LabelFor(model => model.Email)
		@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.FullName)
		@Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
	</div>
}
else
{
	<div class="form-group row">
		@Html.LabelFor(model => model.Email, new { @class = "col-sm-2 col-form-label" })
		<div class="col-sm-10">
			@Html.TextBoxFor(model => model.Email, new { @class = "form-control-plaintext font-weight-bold" })
		</div>
	</div>

	<div class="form-group row mb-5">
		@Html.LabelFor(model => model.FullName, new { @class = "col-sm-2 col-form-label" })
		<div class="col-sm-10">
			@Html.TextBoxFor(model => model.FullName, new { @class = "form-control-plaintext font-weight-bold" })
		</div>
	</div>
}

<div class="form-group">
	@Html.LabelFor(model => model.Realms)
	@Html.ListBoxFor(model => model.Realms, Model.RealmOptions, new { @class = "form-control", @id = "userRealms" })
</div>

<div class="form-group">
	@Html.LabelFor(model => model.Roles)
	@Html.ListBoxFor(model => model.Roles, Model.RoleOptions, new { @class = "form-control", @id = "userRoles" })
</div>
