@using App.UI.Mvc5.Areas.Management.Models

@model UserViewModel

<!-- Meta -->

@{
	var pageTitle = Model.Id <= 0 ? GetLocalizedString("Management_Users_AddTitle") : GetLocalizedString("Management_Users_EditTitle");

	Model.PageTitle = pageTitle;
}

<!-- Sections -->

@section page_styles{
	<link href="~/content/vendor/multi-select/css/multi-select.css" rel="stylesheet" />
}

@section page_scripts{
	<script src="~/content/vendor/multi-select/js/jquery.multi-select.js"></script>
}

@section page_scripts_init {
	<script src="~/areas/management/scripts/users.manager.js"></script>
}

<!-- Page Contents -->

<form id="mainForm" method="post">

	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.Id)
	@Html.ValidationSummary(VisualizationMode.Alert)

	@Html.Partial("Form", Model)

	<button type="submit" class="btn btn-primary btn-block btn-lg mt-5">@GetLocalizedString("Save")</button>

</form>

