@using App.UI.Mvc5.Areas.Management.Models

@model UserCreatedMessageViewModel

<!-- Meta -->

@{
	this.SetLayout(Layouts.Emails);
}

<!-- Page Contents -->

<p>Hello, @Model.FullName</p>
<p>Your user has been successfully created!</p>
<p>Your initial credentials:</p>
<dl>
	<dt>Email:</dt>
	<dd>@Model.Email</dd>
	<dt>Password:</dt>
	<dd>@Model.InitialPassword</dd>
</dl>
<p>You can use your credential to access the following realms:</p>
<dl>
	@foreach (var realm in Model.AllowedRealms)
	{
		<dt>@realm.Realm.GetDisplayName()</dt>
		<dd><a href="@realm.RealmUri" target="_blank">@realm.RealmUri</a></dd>
	}
</dl>
<p>
	<strong>* Please change you password after the first login.</strong>
</p>
