@model BaseViewModel

<!-- Meta -->

@{
	this.SetLayout(Layouts.Internal);
}

<!-- Sections -->

@section page_styles {
	@RenderSection("page_styles", required: false)
}

@section page_scripts {
	@RenderSection("page_scripts", required: false)
}

@section page_scripts_init {
	@RenderSection("page_scripts_init", required: false)
}

<!-- Page Contents -->

<div class="container">

	<h3 class="mt-5 text-center text-uppercase">@GetLocalizedString("Management_MenuLabel")</h3>

	<hr class="divider mt-5 mb-3" />

	@Html.Partial("Submenu")

	<hr class="divider mt-3 mb-5" />

	@RenderBody()

</div>
