<!-- Page Contents -->

<nav id="menu" class="nav-main" role="navigation">

	<ul class="nav nav-main">
		<li class="@Menu.IfActiveItem("management.logs", "nav-active")">
			<a href="@Url.Action("Index", "Logs", new { area = AppAreas.GetAreaName(Area.Management) })">
				<i class="fa fa-bug" aria-hidden="true"></i>
				<span>@GetLocalizedString("Management_Logs_MenuLabel")</span>
			</a>
		</li>
		<li class="@Menu.IfActiveItem("management.users", "nav-active")">
			<a href="@Url.Action("Index", "Users", new { area = AppAreas.GetAreaName(Area.Management) })">
				<i class="fa fa-user" aria-hidden="true"></i>
				<span>@GetLocalizedString("Management_Users_MenuLabel")</span>
			</a>
		</li>
	</ul>

</nav>
