<!-- Page Contents -->

<ul class="nav nav-pills nav-fill">
	<li class="nav-item">
		<a href="@Url.Action("Index", "Logs", new { area = AppAreas.GetAreaName(Area.Management) })" class="nav-link @Menu.IfActiveItem("management.logs", "active")">
			@GetLocalizedString("Management_Logs_MenuLabel")
		</a>
	</li>
	<li class="nav-item">
		<a href="@Url.Action("Index", "Users", new { area = AppAreas.GetAreaName(Area.Management) })" class="nav-link @Menu.IfActiveItem("management.users", "active")">
			@GetLocalizedString("Management_Users_MenuLabel")
		</a>
	</li>
</ul>
