@using App.UI.Mvc5.Areas.Users.Models

@model AccountPasswordRecoverViewModel

<!-- Meta -->

@{
	Model.PageTitle = GetLocalizedString("Auth_RecoverPasswordTitle");
}

<!-- Page Contents -->

<form id="mainForm" method="post">

	@Html.AntiForgeryToken()
	@Html.ValidationSummary(VisualizationMode.Alert)

	<p class="lead text-center mt-3 mb-5">@GetLocalizedString("Auth_RecoverPasswordInfo")</p>

	<div class="form-group">
		@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus", @placeholder = Html.DisplayNameFor(model => model.Email) })
	</div>

	<button type="submit" class="btn btn-primary btn-block btn-lg mt-3">@GetLocalizedString("Auth_RecoverLabel")</button>

</form>

<div class="container text-center">

	<p class="mt-5">@GetLocalizedString("Auth_LoginCalloutAlternate") <a href="@Url.Action("LogIn", "Account", new { area = AppAreas.GetAreaName(Area.Users) })">@GetLocalizedString("Auth_LoginCalloutAction")</a></p>

</div>
