@using App.UI.Mvc5.Areas.Users
@using App.UI.Mvc5.Areas.Users.Models

@model AccountPasswordChangeViewModel

<!-- Meta -->

@{
	this.SetLayout("~/Areas/Users/Views/_LayoutArea.cshtml");

	ViewBag.MenuSection = GetLocalizedString<AreaResources>("ChangePassword");
}

<!-- Sections -->

@section page_scripts_init {
	<script src="~/areas/users/scripts/account.password-change.js"></script>
}

<!-- Page Contents -->

<div class="container">

	<div class="py-5 text-center">
		<h2>@(GetLocalizedString<AreaResources>("ChangePassword"))</h2>
		<p class="lead">@(GetLocalizedString<AreaResources>("ChangePasswordLeadInfo"))</p>
	</div>

	<form id="mainForm" method="post">

		@Html.AntiForgeryToken()
		@Html.ValidationSummary(VisualizationMode.Alert)

		<div class="form-group">
			@Html.LabelFor(model => model.Password)
			@Html.PasswordFor(model => model.Password, new { @class = "form-control", @tabindex = 1, @autofocus = "autofocus" })
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.NewPassword)
			@Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @tabindex = 2, @autofocus = "autofocus" })
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.NewPassword2)
			@Html.PasswordFor(model => model.NewPassword2, new { @class = "form-control", @tabindex = 3, @autofocus = "autofocus" })
		</div>

		<button type="submit" class="btn btn-primary btn-block btn-lg mt-3" tabindex="4">@(GetLocalizedString<AreaResources>("Save"))</button>

	</form>

</div>
