@using App.UI.Mvc5.Areas.Users
@using App.UI.Mvc5.Areas.Users.Models

@model AccountPasswordRecoverResponseViewModel

<!-- Meta -->

@{
	Model.PageTitle = GetLocalizedString<AreaResources>("SetNewPassword");
}

<!-- Sections -->

@section page_scripts_init {
	<script src="~/areas/users/scripts/account.password-set-new.js"></script>
}

<!-- Page Contents -->

<form id="mainForm" method="post">

	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.ResetToken)
	@Html.ValidationSummary(VisualizationMode.Alert)

	<div class="form-group">
		@Html.LabelFor(model => model.Email)
		@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @tabindex = 1, @autofocus = "autofocus" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.NewPassword)
		@Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @tabindex = 2, @autofocus = "autofocus" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.NewPassword2)
		@Html.PasswordFor(model => model.NewPassword2, new { @class = "form-control", @tabindex = 3, @autofocus = "autofocus" })
	</div>

	<button type="submit" class="btn btn-primary btn-block btn-lg mt-3" tabindex="4">@(GetLocalizedString<AreaResources>("SetPassword"))</button>

</form>
