@using App.UI.Mvc5.Areas.Users.Models

@model AccountSignUpViewModel

<!-- Meta -->

@{
	Model.PageTitle = GetLocalizedString("Auth_SignUpTitle");
}

<!-- Page Contents -->

<div class="row justify-content-md-center">

	<div class="col-6">

		<form id="mainForm" method="post">

			@Html.AntiForgeryToken()
			@*@Html.ValidationSummary()*@

			<div class="form-group">
				@Html.LabelFor(model => model.Name)
				@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @tabindex = 1, @autofocus = "autofocus" })
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Email)
				@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @tabindex = 2 })
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						@Html.LabelFor(model => model.Password)
						@Html.PasswordFor(model => model.Password, new { @class = "form-control", @tabindex = 3 })
					</div>
					<div class="col-sm-6">
						@Html.LabelFor(model => model.Password2)
						@Html.PasswordFor(model => model.Password2, new { @class = "form-control", @tabindex = 4 })
					</div>
				</div>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					@Html.CheckBoxFor(model => model.TermsAcceptance, new { @class = "form-check-input", @tabindex = 5 })
					@Html.DisplayNameFor(model => model.TermsAcceptance).WithRawHtmlOutput()
				</label>
			</div>

			<button type="submit" class="btn btn-primary btn-block btn-lg mt-3">@GetLocalizedString("Auth_LoginLabel")</button>

		</form>

	</div>

</div>

<div class="container text-center">

	<p class="m-5">@GetLocalizedString("Auth_SignUpCallout") <a href="@Url.Action("SignUp", "Account", new { area = AppAreas.GetAreaName(Area.Users) })">@GetLocalizedString("Auth_SignUpCalloutAction")</a></p>

</div>
