@using App.UI.Mvc5.Infrastructure

@model BaseViewModel

@{
	var culture = User.Culture;
	var uiCulture = User.UICulture;
	var pageTitle = $"{Model?.PageTitle ?? GetLocalizedString("_App_Welcome")} | {GetLocalizedString("_App_Name")}";
}

<!doctype html>

<html data-region="@culture.Name" lang="@uiCulture.TwoLetterISOLanguageName">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>@pageTitle</title>

	<link href="~/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/content/bootstrap.min.css" rel="stylesheet">
	<link href="~/content/website-custom.css" rel="stylesheet" />

	@RenderSection("page_styles", required: false)

</head>

<body>

	<header>

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

			<a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = AppAreas.GetAreaName(Area.Root) })">[Skeleton]</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link">
							1 <i class="fa fa-envelope"></i>
						</a>
					</li>
					<li class="nav-item user-picture dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img data-src="holder.js/35x35?text=?" class="img-fluid rounded-circle">
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink-5" style="position: absolute;">
							<a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
				</ul>

				@*<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fa fa-gear"></i> Settings</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="menuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-user"></i> Profile
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuProfile-4" style="position: absolute;">
							<a class="dropdown-item" href="#">My account</a>
							<a class="dropdown-item" href="#">Log out</a>
						</div>
					</li>
				</ul>*@

			</div>
			 
		</nav>

	</header>

	@RenderBody()

	@Html.FeedbackSummary()

	@Html.RenderAdminScriptResourcesTag(User.Culture, User.UICulture)

	<!-- SCRIPTS -->
	<script src="~/scripts/jquery-3.2.1.min.js"></script>
	<script src="~/scripts/umd/popper.min.js"></script>
	<script src="~/scripts/bootstrap.min.js"></script>
	<script src="~/content/holder/holder.min.js"></script>
	@RenderSection("page_scripts", required: false)

	@RenderSection("page_scripts_init", required: false)

</body>
</html>
