@using App.UI.Mvc5.Infrastructure

@model BaseViewModel

@{
	var culture = User.Culture;
	var uiCulture = User.UICulture;
	var pageTitle = $"{Model?.PageTitle ?? GetLocalizedString("_App_Welcome")} | {GetLocalizedString("_App_Name")}";
}

<!doctype html>

<html class="@Model.GetHtmlClasses()" data-region="@culture.Name" lang="@uiCulture.TwoLetterISOLanguageName">

<head>
	<title>@pageTitle</title>
	@RenderSection("page_styles", required: false)
</head>

<body>

	@RenderBody()

	@Html.FeedbackSummary()

	@Html.RenderAdminScriptResourcesTag(User.Culture, User.UICulture)

	@RenderSection("page_scripts", required: false)

	@RenderSection("page_scripts_init", required: false)

</body>
</html>
