@using App.UI.Mvc5.Infrastructure

@model BaseViewModel

@{
	var culture = User.Culture;
	var uiCulture = User.UICulture;
	var pageTitle = $"{Model?.PageTitle ?? GetLocalizedString("_App_Welcome")} | {GetLocalizedString("_App_Name")}";
}

<!doctype html>

<html data-region="@culture.Name" lang="@uiCulture.TwoLetterISOLanguageName">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>@pageTitle</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="~/content/bootstrap.min.css" rel="stylesheet">
	@*<link href="~/content/material-design/mdb.min.css" rel="stylesheet">*@
	<link href="~/content/website-custom.css" rel="stylesheet" />

	@RenderSection("page_styles", required: false)

</head>

<body>

	<header>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = AppAreas.GetAreaName(Area.Root) })">[Skeleton]</a>
		</nav>
	</header>

	@RenderBody()

	@Html.FeedbackSummary()

	@Html.RenderAdminScriptResourcesTag(User.Culture, User.UICulture)

	<!-- SCRIPTS -->
	<script src="~/scripts/jquery-3.2.1.min.js"></script>
	<script src="~/scripts/umd/popper.min.js"></script>
	<script src="~/scripts/bootstrap.min.js"></script>
	@*<script src="~/content/material-design/mdb.min.js"></script>*@
	<script src="~/content/holder/holder.min.js"></script>
	@RenderSection("page_scripts", required: false)

	@RenderSection("page_scripts_init", required: false)

</body>
</html>
