@model BaseViewModel

<!-- Meta -->

@{
	this.SetLayout(Layouts.Base);
}

<!-- Sections -->

@section page_styles {
	@RenderSection("page_styles", required: false)
}

@section page_scripts {
	@RenderSection("page_scripts", required: false)
}

@section page_scripts_init {
	@RenderSection("page_scripts_init", required: false)
}

<!-- Page Contents -->

<header>

	<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">

		<a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = AppAreas.GetAreaName(Area.Root) })">
			<img class="img-fluid" width="35" src="~/content/img/logo.svg" />
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">

			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>

			@Html.Action("Box", "Account", new { area = AppAreas.GetAreaName(Area.Users) })

		</div>

	</nav>

</header>

@RenderBody()

