
<!-- View Contents -->

<header>

	<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">

		<a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = AppAreas.GetAreaName(Area.Root) })">
			<img class="img-fluid" width="35" src="~/content/img/logo.svg" />
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">

			<!--Top Menu-->

			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link @Menu.IfActiveItem("root.landing", "active", string.Empty)" href="@Url.Action("Index", "Home", new { area = AppAreas.GetAreaName(Area.Root) })">Home <span class="sr-only">(@GetLocalizedString("CurrentLabel").ToLower())</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link @Menu.IfActiveItem("features.realtime", "active")" href="@Url.Action("Index", "Realtime", new { area = AppAreas.GetAreaName(Area.Features) })">Realtime</a>
				</li>
				<li class="nav-item">
					<a class="nav-link @Menu.IfActiveItem("features.globalization", "active")" href="@Url.Action("Index", "Globalization", new { area = AppAreas.GetAreaName(Area.Features) })">Globalization</a>
				</li>
				<li class="nav-item">
					<a class="nav-link @Menu.IfActiveItem("features.formsandvalidation", "active")" href="@Url.Action("Index", "FormsAndValidation", new { area = AppAreas.GetAreaName(Area.Features) })">Forms &amp; Validation</a>
				</li>
			</ul>

			<!-- User Box -->

			@Html.Action("Box", "Account", new { area = AppAreas.GetAreaName(Area.Users) })

		</div>

	</nav>

</header>